.header-container {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
}
.header-container a{
color: white !important;
font-weight: 600;
text-shadow: 1px 1px 1px rgba(29, 28, 28, 0.8);
}
@media screen and (max-width:991px ) {
  .header-container {
    justify-content:space-between ;
  }
}

